$default:#436372;
$title: #191919;
$subtitle: #243f4d;


%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%popins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%btn{
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 13px 15px;
    cursor: pointer;  
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    
}