@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 45px 0;
  @extend %rubik-500;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo__img {
      display: inline-block;
    }
    .Logo__img-text {
      vertical-align: bottom;
      color: $default;
      font-size: 36px;
      line-height: 58px;
    }
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-link {
    color: $default;
    font-size: 15px;
    line-height: 12px;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__item {
    padding: 19px;
    border-radius: 50%;
    background-color: #edf1f4;
  }
  &__shop {
    display: flex;
    padding: 22px 40px 13px 40px;
    border-radius: 50px;
    background-color: #fcd7b6;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__link-img-cart {
    margin-left: 58px;
  }
  &__link-img-cart::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: 0;
    left: 0;
  }

  
  &__items {
    padding: 17px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -5px;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    color: #243f4d;
  }
}
.footer {
  a,
  .footer-top__text,
  .footer-bottom {
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
  }
}

.footer-top {
  padding: 65px 0 60px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;

  .logo__img {
    display: inline-block;
  }
  .Logo__img-text {
    vertical-align: bottom;
    color: $default;
    font-size: 36px;
    line-height: 58px;
  }

  &__contact {
    width: 200px;
  }
  &__nav {
    width: 200px;
  }
  &__item-form {
    max-width: 270px;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__adress,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 17px;
  }
  &__title {
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 70px;
  }
  &__link {
    margin-bottom: 9px;
    display: block;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__form-input {
    background-color: #fef7f0;
    max-width: 160px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 14px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn {
    @extend %btn;
    padding: 21px 16px;
  }
}
.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  &__list {
    display: flex;
  }
  &__link {
    padding: 0 15px;
    border-right: 1px solid #7b7b7b;
  }
  &__link-last {
    padding-right: 0;
    border: none;
  }
}

.top-slider {

  &__inner{
  background-image: url("../images/top-slider-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0 40px;
  }

  &__content {
    padding-left: 300px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    padding-right: 300px;
  }
  &__title {
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    color: $subtitle;
    @extend %rubik-500;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 370px;
    margin-bottom: 40px;
  }
  &__button {
    display: block;
    height: 60px;
    width: 200px;
    position: relative;
  }
  &__link {
    @extend %btn;
    height: 60px;
    width: 200px;
    padding: 24px 21px;
  }
  &__arrows {
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
  }
  &__img {
    padding-top: 50px;
    padding-bottom: 200px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      padding: 0 5px;
      button {
        padding: 0;
        font-size: 11px;
        line-height: 10px;
        @extend %rubik-500;
        color: $subtitle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        position: relative;
      }
      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  &__item {
    display: flex;
    padding: 45px 135px;
  }
  &__item-box {
    margin-left: 22px;
    max-width: 213px;
  }
  &__item-title {
    font-size: 18px;
    @extend %dmsans-700;
    color: #414141;
  }
  &__item-text {
    color: #585858;
  }
  &__item-center {
    border-left: 1px solid #e8e4df;
    border-right: 1px solid #e8e4df;
  }
}

.product {
  padding-top: 75px;
  text-align: center;
  &__list {
    @extend %dmsans-700;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    
  }
  &__list-link {
    color: #8b8b8b;
    border: none;
    background-color: #fff;
    &:hover {
      color: #191919;
    }
  }
  &__list-item + .product__list-item {
    padding-left: 30px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 190px;
  }
}

.product-item {
  max-width: 270px;
  padding: 30px 40px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &__img-box {
    position: relative;
    height: 240px;
    overflow: hidden;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
    transition: all 0.3s;
    a {
      padding: 17px;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  &__link {
    display: inherit;
    transition: all 0.3s;
  }

  &__link:hover {
    background-color: #a3bac7;
    path {
      fill: #fff;
    }
  }

  &__images {
    object-fit: cover;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
  &__title {
    color: $subtitle;
  }
  &__price {
    color: #a3bbc8;
  }
  
}

.product-light{
  display: flex;
  justify-content: space-between;
  grid-gap: 30px;
  
  &__item{
    width: 870px;
    height: 390px;
    background-color: #feefe2;
    display: flex;
    
    padding-bottom: 88px;
  }
  &__img{
    width: 233px;
    height: 405px;
    margin-top: -94px;
    margin-left: 150px;
    
  }
  &__info{
    padding-left: 30px;
    margin-top: auto;
    text-align: left;
    max-width: 357px;
  }
  &__info-title{
    font-size: 26px;
    @extend %dmsans-700;
    color: $subtitle;
    margin-bottom: 28px;
  }
  &__info-text{
    @extend %rubik-400;
    color: $subtitle;
    margin-bottom: 33px;
  }
  &__info-btn{
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    padding: 17px 18px;
    width: 180px;
    color: #436372;
    @extend %rubik-500;
    font-size: 15px;

  }
  &__info-link{
    color: $subtitle;
  }
  &__info-arrows{
    margin-left: 40px;
  }
}


.design {
  padding-top: 100px;
  
  &__list {
    @extend %dmsans-700;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__list-link {
    color: #8b8b8b;
    border: none;
    background-color: #fff;
    &:hover {
      color: #191919;
    }
  }
  &__list-item + .design__list-item {
    padding-left: 30px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
    }
  &__item-link{
    width: 370px;
    height: 246px;
    }
  &__item-title{
    padding: 40px 0 0 35px;
    display: block;
    width: 208px;
    color: $title;
    font-size: 20px;
    line-height: 21px;
    @extend %dmsans-700;
    margin-bottom: 7px;
  }
  &__item-text{
    color: #a3bbc8;
    padding-left: 35px;
    @extend %dmsans-700;
  }
}

.video{
  margin: 120px 0;
  &__popup{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog{
  &__title{
    padding-bottom: 265px;
  }
  &__inner{
  background-color: #f8f1ea;
  }
  &__top{
    display: flex;
    justify-content: space-between;;
  }
  &__link{
    @extend %dmsans-700;
    color: #262626;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  &__item{
    margin-top: -279px;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
  }
  &__btn{
    background-color: #a3bbc8;
    padding: 5px 30px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    display: block;
    border-radius: 20px;
    margin-top: -15px;
    margin-left: 27px;
    width: 100px;
    position: absolute;
    @extend %popins-700;
    }
  &__item-titlelink{
    display: block;
    padding: 30px 50px 0 30px;
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    height: 130px;
  }
  &__item-info{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    margin: 0 28px;
  }
  &__item-date{
    padding: 0 45px 0 17px;
  }
  &__item-author,
  &__item-date{
    font-size: 12px;
    color: #222933;
    @extend %rubik-400; 
  }
}

.partners {
  
  &__list {
    height: 270px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@import "media";
